.top-nav {
  background: #e7e8e7;
  text-align: center;
  font-size: 15px;
}
.top-nap p {
  padding: 8px;
}
/* main nav */
nav {
  background: #0d0d0d;
  border-bottom: solid 1px #595959;
  position: relative;
}

nav .container .content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

nav .container .content .logo h1 {
  font-size: 28px;
  text-transform: capitalize;
  color: #e7e8e7;
}
nav .container .content .pages .list,
nav .container .content .pages2 .list {
  display: flex;
  list-style: none;
  color: #e7e8e7;
  align-items: center;
  transform: translateY(25%);
}

nav .container .content .list .list-item {
  text-transform: capitalize;
  padding: 0 9px;
}

nav .container .content .list .list-item a {
  color: #e7e8e7;
}

nav .container .content .list .list-item .fa-search {
  font-size: 14px;
  font-weight: lighter;
  padding-right: 4px;
}
.cart-header {
  position: relative;
}
.cart-header::after {
  content: attr(cart_qts);
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #d39e00;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  position: absolute;
  top: -6px;
  color: black;
}

.cart-i:hover {
  color: #d8c69c;
}
nav .container .content .list .list-item a:hover,
nav .container .content .list .list-item:hover {
  text-decoration: none;
  color: #d8c69c;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
}

.image img {
  border-radius: 50%;
  margin: 6px;
  max-width: 35px;
}

.info {
  line-height: 0px;
}
.info p {
  font-size: 10px;
  color: #e7e8e7;
}
/* slash */
.slash {
  position: relative;
}
.slash::after,
.slash::before {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: white;
  margin-top: 1px;
}

.slash::before {
  margin: 0 5px 0 5px;
  position: absolute;
  left: -3px;
  bottom: 6px;
}

.slash::after {
  margin: 0 5px 0 5px;
  position: absolute;
  right: -3px;
  bottom: 5px;
}

/* slash */

/* main nav */

/* bottom nav */
.bottom-nav {
  background: #0d0d0d;
  text-align: center;
  border-top: 1px solid #e7e8e7;
}
.catigories {
  padding: 6px 0;
}
.catigories .list {
  display: flex;
  list-style: none;
  color: #e7e8e7;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  width: fit-content;
}
.catigories .list .list-item {
  text-transform: capitalize;
  padding: 0 9px;
}

.catigories .list .list-item a {
  color: #e7e8e7;
  text-transform: uppercase;
  font-size: 14px;
}
.catigories .list .list-item a:hover {
  text-decoration: none;
  color: #d8c69c;
  cursor: pointer;
}
.dropdown,
.dropup {
  z-index: -1;
}
.catigories .list .list-item .dropdown-item {
  color: #0d0d0d !important;
}

.catigories .list .list-item .dropdown-item:active {
  background-color: #d8c69c;
}
.dropdown-toggle {
  padding: 0;
}
/* bottom nav */

/* pop up search */
.pop-up-search {
  background: #e7e8e7;
  display: none;
  opacity: 0;
  height: 0%;
  transition: 0.5s ease;
  transition-property: height, opacity;
  position: absolute;
}

.pop-up-search-active {
  display: block;
  z-index: 1;
  width: 100%;
  background: #e7e8e7;
  height: auto;
}
.add-search-showing-style {
  opacity: 1;
  visibility: visible;
  max-height: 100px;
}
.pop-up-search .row .col-md-8 {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.pop-up-search .row .col-md-8 input {
  font-size: 12px;
  padding: 4px;
  width: 50%;
  border: 1px solid #0d0d0d;
  outline: none;
  text-transform: lowercase;
}

.pop-up-search .row .col-md-8 button {
  outline: none;
  border: none;
  color: #e7e8e7;
  background: #0d0d0d;
  font-size: 14px;
  padding: 3px 15px 3.5px;
}

.close {
  position: absolute;
  top: 31%;
  right: 0;
  font-size: 15px;
  color: gray;
  text-decoration: underline;
}

.close:hover {
  text-decoration: underline;
}

.pop-up-cart {
  background-color: #e7e8e7;
  position: absolute;
  width: 0%;
  min-height: 100vh;
  right: 0;
  color: black;
  padding: 10px;
  outline: none;
  border: none;
  margin: 0;
  z-index: 2;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 0.3s ease;
}

.pop-up-cart-active {
  display: block;
}
.add-showing-style {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

.cart-close {
  position: absolute;
  font-size: 15px;
  top: 0;
  color: gray;
  text-decoration: underline;
}
.cart-close:hover {
  cursor: pointer;
  color: black;
}

.col-container {
  padding: 10px;
}
.item {
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px;
}
.item-pop-cart-img img {
  width: 60%;
}
.item-pop-cart-info {
  padding: 10px;
  height: fit-content;
  line-height: 0.8;
  color: #626261;
}
.item-pop-cart-info .title {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
}
.item-pop-cart-info .price {
  font-size: 14px;
}

.qts-func {
  text-align: center;
}

.remove {
  font-size: 13px;
  border-top: 1px solid;
  padding-top: 8px;
}

.remove:hover {
  cursor: pointer;
  color: black;
}

.go-cart {
  width: 100%;
  margin: 13px 13px 0 13px;
  color: gray;
  text-transform: uppercase;
  border: 1px solid gray;
}

.go-cart:hover {
  color: white;
  background-color: black;
}

.product-title {
  line-height: 1.2;
}
